{% extends 'base.html.twig' %}

{% block title %}
  Welcome to Things
{% endblock %}

{% block aside %}
  <ul class="list-unstyled">
    {% for category_item in category_list %}
      <li>
        <a href="/view/category/{{ category_item.slug }}">{{ category_item.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block body %}
Index
{% endblock %}
